@import '@fontsource/fira-mono';

:root {
    --font-text: "Microsoft YaHei UI", "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-family: var(--font-text), serif;
    color: black;
}

body {
    place-items: center;
    min-width: 480px;
    min-height: 240px;
    margin: 0;
    padding: 0;
}

a, b, i, p, span, input, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei UI", "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    text-rendering: auto;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

textarea, code {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}